* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.grid  {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 400px 400px;
    justify-content: space-evenly;
    justify-items: center;
}

.grid__hijo{
    align-self: center;
    transition: all 0.5s;
}

.grid__hijo:hover {
   transform: scale(1.05); 
   background-color:black;
   padding: 8px;
}

.tarjeta{
   background-color: rgba(0, 0, 0, 0.259);
   color: white;
   width: 400px;
   height: 550px;
   padding: 15px 15px 15px 15px;
   border-radius: 16px;
   overflow: hidden;
   margin-bottom: 0,5rem;
}

.tarjeta__imagen{
   width: 100%;
   height: 235px;
   object-fit: cover;
   border-radius: 16px;
}

.tarjeta__titulo{
   font-size: 28px;
   margin-bottom: 0,5rem; 
   margin-top: 0,5rem;
   text-align: center;
}

.tarjeta__parrafo{
   font-size: 12px;
   text-align: justify;
   padding: 5px 5px 5px 5px;
   border-radius: 15px;
   object-fit: cover;
}

.tarjeta__parrafo2 {
   font-size: 12px;
   text-align: justify;
   padding: 5px 5px 5px 5px;
   border-radius: 15px;
   object-fit: cover;
   margin-top: 30px;
}

a{
   text-decoration: none;
   color: white;
}

h1{
   color: white;
   text-align: justify;
}

footer {
   color: white;
   background-color: grey;
   text-align: center;
   padding: 1rem 1rem 1rem 1rem;
}

header {
   display: flex;
   background-color: gray;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   z-index: 0;
   position: fixed;
   width: 100%;
   padding: 1rem;
}
ul {
   list-style: none;
   font-size: 0;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   padding: 1rem;
}

li {
   flex-direction: row;
   font-size: 1rem;
   justify-content: space-between;
   margin-left: 10px;
}

main {
   padding-top: 220px;
}

.whatsapp img {
   padding: 0.5rem 1rem;
   display: inline-block;
   position: fixed;
   bottom: 1rem;
   right: 1rem;
   width: 7rem;
   height: 6rem;
   z-index: 0;
}

.header__menuHamburguesa {
   display: none;
}

.jam-close {
   display: none;
}

.transform-transalte:hover {
   transform: scale(1.5);
   transition: all 2s;
}

@media screen and (max-width: 1023px) {
   header {
       flex-direction: column;
   }
   .header__menuHamburguesa {
       display: none;
   }
   
   footer {
       font-size: 12px;
       padding: 2rem 2rem 2rem 2rem;
   }
   .whatsapp img {
       width: 5.2rem;
       height: 4rem;
   }

  

   .grid {
      display: grid;
      grid-template-columns: 400px;
      grid-template-rows: 400px;
      justify-content: space-evenly;
      justify-items: center;

   }

    
  .tarjeta{
     background-color: rgba(0, 0, 0, 0.259);
     color: white;
     width: 400px;
     height: 395px;
     padding: 5px 5px 5px 5px;
     border-radius: 12px;
     overflow: hidden;
     margin-bottom: 1rem;
     margin-top: 1rem;
  }
  
  .tarjeta__imagen{
     width: 100%;
     height: 135px;
     object-fit: cover;
     border-radius: 12px;
  }
  
  .tarjeta__titulo{
     font-size: 14px;
     text-align: center;
  }
  
  .tarjeta__parrafo{
     font-size: 12px;
     text-align: justify;
     border-radius: 11px;
     object-fit: cover;
  }
  
  .tarjeta__parrafo2 {
     font-size: 12px;
     text-align: justify;
     border-radius: 11px;
     object-fit: cover;
     margin-top: 0;   
  }

  main {
   padding-top: 15rem;  
  }


}

@media screen and (max-width: 600px) {
   h1 {
       display: none;
   }
   ul {
       display: none;
   }
   header {
       flex-direction: row;
       padding: 16px 16px 16px 16px;
   }
   .header__menuHamburguesa {
       display: block;
       font-size: 32px;
       color: white;
       text-align: none;
   }

   footer {
       font-size: 10px;
       padding: 2.5rem 2rem 2.5rem 2rem;
           
   }
   .whatsapp img {
      width: 4.2rem;
      height: 3rem;
  }


   #lateral{
       display: block;
       background-color: rgba(128, 128, 128, 0.8);
       font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
       width: 80%;
       height: 100vh;
       position: fixed;
       top:0;
       left: -100%;
       z-index: 100;
       transition: left 1s;
   }

   #lateral:target {
       left: 0;
   }

   .jam-close {
       display: block;
   }

   .tarjeta__titulo {
      display: block;
      font-size: 14px;
      margin-bottom: 0; 
      margin-top: 0;
      text-align: center;
   }

   main {
      padding-top: 150px;
   }
   
}

@media screen and (max-width: 400px) {
   footer {
       width: 100%;
           
   }
   

   .tarjeta{
      background-color: rgba(0, 0, 0, 0.259);
      color: white;
      width: 70%;
      height: 350px;
      padding: 15px 15px 15px 15px;
      border-radius: 16px;
      overflow: hidden;
      margin-bottom: 0,5rem;
   }

   main {
      padding-top: 150px;
   }

   .grid__hijo:hover {
      transform: scale(1.0); 
      background-color:black;
      padding: 8px;
      height: 510px;
   }
   
}

@media screen and (max-width: 280px) {
   footer {
       width: 100%;
           
   }
   

   .tarjeta{
      background-color: rgba(0, 0, 0, 0.259);
      color: white;
      width: 50%;
      height: 180px;
      padding: 10px 10px 10px 10px;
      border-radius: 16px;
      overflow: hidden;
      margin: 1rem 1rem 1rem 1rem;
   }

   main {
      padding-top: 50px;
   }

   .grid__hijo:hover {
      transform: scale(1.0); 
      background-color:black;
      padding: 8px;
      height: 600px;
   }

   .tarjeta__parrafo{
      text-align: center;
      
   }
   
   .tarjeta__parrafo2 {
      text-align: center;
      overflow: hidden;
      
   }


   
}